@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "MuseoModerno", serif; */
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Chivo", serif; */




*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    color:white;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content:space-between;
    width: 1344px;
    height: auto;
    padding: 16px;
  
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin:0px 10px;
    color:white;
    align-items: right;
}
 
.left{
    font-size: 42px;
    line-height: 42px;
    font-weight: 500;
    font-family: "MuseoModerno", sans-serif;
}
.right{
    width: auto;
    height: auto;
    gap: 32px;
}
.right a{
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    font-family: "Chivo", sans-serif; 
}

.main-image{
    text-align: center;
    padding-bottom: 70px;
     
}
.main-image img{ border-radius:40px;
                max-width: 100%;}
.container1{
    display:grid;
    grid-template-columns: repeat(3,1fr );
    gap:15px

}
.container{
    padding: 48px 0px;
    width: 1344px;
    height: auto;
}
.sec1{
    width: 1344px;
    height: auto;
    border-bottom: 1px;
    gap:48px;
    padding: 72px 0;
}
h1{
    line-height: 120px;
    text-align: center;
    font-family: "Chivo", sans-serif;
    font-size: 120px;
    font-weight: 900;
}
