@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "MuseoModerno", serif; */
/* font-family: "Chivo", serif; */
/* font-family: "Archivo", sans-serif; */



*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    color:white;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content:space-between;
    max-width: 1344px;
    height: auto;
    padding: 16px;
  
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin:0px 10px;
    color:white;
    align-items: right;
}
 
.left{
    font-size: 42px;
    line-height: 42px;
    font-weight: 500;
    font-family: "MuseoModerno", sans-serif;
}
.right{
    width: auto;
    height: auto;
    gap: 32px;
    
}
.right a{
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    font-family: "Chivo", sans-serif; 
    color: white;
    text-decoration: none;
}

.container1{
    display:grid;
    grid-template-columns: repeat(3,1fr );
    padding: 48px 0px;
    gap: 8px;
}
.container{
    padding: 48px 0px;
    max-width: 1344px;
    height: auto;
    margin: auto;
}
.sec1{
    max-width: 1344px;
    height: auto;
    border-bottom: 1px;
    padding: 72px 0;
    margin: auto;
    text-align: center;
}
h1{
    line-height: 120px;
    text-align: center;
    font-family: "Chivo", sans-serif;
    font-size: 120px;
    font-weight: 900;
    padding-bottom: 48px;
}
.sec1 .main-image img{
    border-radius: 56px;
    border: 1px solid white;
    max-width: 1400px;
    height:672px;
    margin: auto;
}
.item img{
    max-width: 416px;
    height: 277px;
    border: 1px solid white;

}
.item .l1{
    max-width: 416px;
    line-height: 24px;
    font-size:20px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
}
.item .l2{
    max-width: 416px;
    line-height: 24px;
    font-size:17px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    color: white;
    opacity: 0.6;
 
} 
.container .item{
    height: 333px;
    max-width:416px ;
    gap:16px;
    margin: auto;
}
.row{
    padding: 48px 0px;
    width: auto;
    height: auto;
     
}
.sec2{
    max-width: 1344px;
    height: auto;
    margin: auto;
}
.sec3 p{
    width: 672px;
    height: 260px;
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
}
.btn{
    height: auto;
    width: auto;
    border-radius: 8px;
    padding: 12px 24px;
}
.btn p{
    font-family: "Archivo",sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.text p:first-child{
    font-family: "Chivo",sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
}
.text p:last-child{
    line-height: 32px;
    font-family: "Archivo",sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.text{
    max-width: 900px;
    gap: 16px;
}
.content-on-image{
    width: 1345px;
    height: auto;
    padding-bottom: 48px;
    gap: 48px;
    position: absolute;
    top: 466px;
    left: 96px;
}
.sec4{
    position: relative;
    width: 1344px;
    height: 698px;
    
}
footer{
    width: 1344px;
    height: auto;
    padding-top: 72px;
    padding-bottom: 24px;
    gap: 24px;
}
footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
footer a{
    color: white;
    text-decoration: none;
    font-family: "Chivo",sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    opacity: 0.6;
}
footer button{
    border-radius: 8px;
    height: auto;
    width: auto;
    border:1px solid rgba(255,255,255,0.16);
    padding:12px 24px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Archivo",sans-serif;
    font-weight: 600;
}